<div class="main py-5">
    <div class="d-flex flex-column">
        <ul class="list-group d-flex flex-row">
            <li class="list-group-item d-flex align-items-center w-100 justify-content-between border-0">
                <div class="d-flex justify-content-between col-4">
                    <span class="col-5" style="font-weight: bold;">
                        მოდელი
                    </span>
                    <span class="col-5 pointer" style="font-weight: bold;" (click)="sort('year')" title="Sort">
                        წელი
                    </span>
                    <span class="col-5" style="font-weight: bold;">
                        ფოტო
                    </span>
                </div>
                <span style="font-weight:bold; margin-right:20px;">წაშლა</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center  justify-content-between"
                *ngFor="let car of cars; let i = index">
                <div class="d-flex justify-content-between col-4 align-items-center">
                    <span class="col-5">

                        {{car?.productName}}
                    </span>

                    <span class="col-5">
                        {{car?.year }}
                    </span>
                    <span class="col-5">
                        <img class="img" [src]="car?.ImageUrl" alt="">

                    </span>
                </div>

                <img class="img pointer" (click)="removeItem(i)" title="Delete Item"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1EzmE0OD-xqM6g-btpUVVP-6a-kTUmsXreuWg4G0HoHwXye8R&usqp=CAU"
                    alt="">
            </li>
        </ul>
    </div>



    <form [formGroup]="posts" (submit)="addPost(posts)" class="mt-5 pt-5">
        <label for="exampleFormControlInput1" class="pl-2"></label>
        <input formControlName="productName" type="text" class="form-control mb-3" id="exampleFormControlInput1"
            placeholder="Model">
        <label for="exampleFormControlInput2" class="pl-2"></label>
        <input formControlName="year" type="text" class="form-control mb-3" id="exampleFormControlInput2"
            placeholder="Year">
        <label for="exampleFormControlInput3" class="pl-2"></label>
        <input type="text" formControlName="ImageUrl" class="form-control mb-3" id="exampleFormControlInput3"
            placeholder="Adress">
        <button type="submit" class="btn btn-dark" [disabled]="!posts.valid">ADD</button>
    </form>
</div>